@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1320px;
    margin: auto;
}


/* part2body css start ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.part2body .container .blogsection {
    background-image: url(../img/aboutpic.webp);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.part2body .container .blogsection h2 {
    color: #fff;
    font-size: 50px;
    display: block;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    font-family: "Playfair Display", serif;
    padding-top: 130px;
}

/* part2body css end ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/* part3body css start ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.part3body{
    margin-top:100px ;
}
.part3body .container .blog .news .blog-item {
    width: 855px;
    margin-top: 50px;
}

.part3body .container .blog .news .blog-item .blog-item-img {
    position: relative;
}

.part3body .container .blog .news .blog-item .blog-item-img img {
    width: 100%;
}

.part3body .container .blog .news .blog-item .blog-item-img .blog-item-date {
    width: 89px;
    height: 90px;
    position: absolute;
    bottom: -16px;
    left: 40px;
    display: block;
    color: #fff;
    background-color: #FF1616;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.part3body .container .blog .news .blog-item .blog-item-img .blog-item-date h3 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.part3body .container .blog .news .blog-item .blog-item-img .blog-item-date p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    line-height: 30px;
    font-weight: 300;
}

.part3body .container .blog .news .blog-item .blog-item-img .blog-item-date:hover {
    background: none;
}

.part3body .container .blog .news .blog-item .blog-item-img .blog-item-date:hover h3 {
    color: #FF1616;
}

.part3body .container .blog .news .blog-item .blog-item-img .blog-item-date:hover p {
    color: #FF1616;
}


.part3body .container .blog .news .blog-item .blog-details {
    width: 855px;
    height: 241px;
    padding: 60px 30px 35px 35px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}

.part3body .container .blog .news .blog-item .blog-details .blog-head {
    text-decoration: none;
}

.part3body .container .blog .news .blog-item .blog-details .blog-head h2 {
    color: #2d2d2d;
    font-size: 24px;
    margin-bottom: 15px;
    font-family: "Playfair Display", serif;
    color: #1a1a1a;
    font-weight: 600;
}

.part3body .container .blog .news .blog-item .blog-details p {
    font-family: "Roboto", sans-serif;
    color: #301A22;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.6;
}

.part3body .container .blog .news .blog-item .blog-details .blog-info-link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:260px;
    margin-top: 35px;
}

.part3body .container .blog .news .blog-item .blog-details .blog-info-link .travel-lifestyle a {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.part3body .container .blog .news .blog-item .blog-details .blog-info-link .travel-lifestyle a:hover{
    color: #FF1616;
}

.part3body .container .blog .news .blog-item .blog-details .blog-info-link .v_line {
    border-left: 2px solid black;
    height: 15px;
}

.part3body .container .blog .news .blog-item .blog-details .blog-info-link .comments a {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.part3body .container .blog .news .blog-item .blog-details .blog-info-link a:hover{
    color: #FF1616;
}


/* part3body css end ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/